<script src="/socket.io/socket.io.js"></script>
<script src='/code.jquery.com/jquery-1.11.1.js'></script>

<div class="nav_area2">
    <div class="nav_box2">
      <p class="nav_area2_head_text">회원님을 기다리는</p>
      <p class="nav_area2_head_text">방송이 있어요</p>
      <p class="nav_area2_sub_text">관심있는 방송을 찾아보세요</p>
      <% if(sess.user ) {%>
        <button id = "testbutton" onclick="test()">전송</button>
      <%} else {%>
          <button id = "testbutton">전송</button>
      <%}%>
      <p class="nav_area2_sub_text"><%=uuid%></p>
      <div class="nav_box2_img_box">
        <img class="nav_box2_img" src="../public/images/nav_box2/5f7143f20dc29.png" alt="" />
      </div>
    </div>
  </div>
<div class="main_area">
  <div class="main_box1">
    <div class="main_box1_head">오늘의 방송</div>
    <div class="main_box1_content_box">
      <div class="main_box1_content_box_left">
        <div class="main_box1_content_box_left_top">
          <div class="main_nav_book_box">
            <img
              class="main_nav_book_img"
              src="/public/images/book/6421023f6e3644f9ba239c57c9a5b3be.jpg"
              alt=""
            />
          </div>
          <div class="main_nav_textbox">
            <p class="main_nav_textbox_title">
            </p>
            <p class="main_nav_textbox_sub"></p>
          </div>
        </div>
        <div class="main_box1_content_box_left_bottom">
          <div class="main_nav_book_box">
            <img
              class="main_nav_book_img"
              src="/public/images/book/CECI_TIAGO.jpg"
              alt=""
            />
          </div>
          <div class="main_nav_textbox">
            <p class="main_nav_textbox_title">
            </p>
            <p class="main_nav_textbox_sub">
            </p>
          </div>
        </div>
      </div>
      <div class="main_box1_content_box_right">
        <div class="main_box1_content_box_right_top">
          <div class="main_box1_content_box_right_top_title">
            지금 방송중인 방
          </div>
        </div>
        <div class="main_box1_content_box_right_bottom">
          <div class="main_box1_content_box_right_left">
            <div class="main_best_book_box">
              <img
                class="main_best_book_box_img"
                src="/public/images/book/book3.jpg"
                alt=""
              />
            </div>
            <p class="main_best_title">만남은 지겹고 이별은 지쳤다</p>
            <p class="main_best_sub">색과 체 산문집</p>
          </div>
          <div class="main_box1_content_box_right_left">
            <div class="main_best_book_box">
              <img
                class="main_best_book_box_img"
                src="/public/images/book/book4.jpg"
                alt=""
              />
            </div>
            <p class="main_best_title">나는 너를 펭랑해</p>
            <p class="main_best_sub">펭수 엽서책</p>
          </div>
          <div class="main_box1_content_box_right_left">
            <div class="main_best_book_box">
              <img
                class="main_best_book_box_img"
                src="/public/images/book/book5.jpg"
                alt=""
              />
            </div>
            <p class="main_best_title">원피스 ONE PIECE 97</p>
            <p class="main_best_sub">나의 바이블</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (sess.user) {%>
  <script>
    var socket = io();
    var num
   var row_name = '<%=sess.user.ID%>'
   var name
  var roomno = "room2"

// console.log('<%=row[0].NAME%>')
socket.emit('roomnum2' , row_name);
console.log("조인 :" +row_name)

console.log('<%=sess.user.NAME%>')
socket.emit('name2' , '<%=sess.user.NAME%>');

socket.on('joinroom2' , function(e){
    name = e
})

socket.on('msg2', function(msg){ 
    console.log(msg)
alert(msg)
                  
                  })

  </script>
    <script src="/public/javascript/main.js"></script>
<%}%>
